VITE_API_PORT=8000
# Optional manual override.
# Local/LAN contoh: http://192.168.1.10:8000/api
# Online contoh: https://krgarage-backend-production.up.railway.app/api
VITE_API_URL=
VITE_API_BASE_URL=
VITE_STORAGE_URL=
VITE_APP_NAME=KRGarage

VITE_PUSHER_APP_KEY=
VITE_PUSHER_APP_CLUSTER=ap1
